<section class="members-section">
  <div class="container">
    <h4 class="h2 mb-2">Známí medailisté</h4>
    <p class="p2">Nejúspěšnější sportovci a jejich největší úspěchy</p>

    <div class="members-section__inner">
      <a href="#" class="members-section__item">
        <div class="members-section__img">
          <img src="images/content/members/1.png" loading="lazy" alt="member" />
        </div>
        <h6>Amélie Laurent</h6>
        <div class="members-section__medail gold">Zlato z MS juniorů 2023</div>
        <p>
          Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
        </p>
      </a>
      <a href="#" class="members-section__item">
        <div class="members-section__img">
          <img src="images/content/members/2.png" loading="lazy" alt="member" />
        </div>
        <h6>Nikolas Gibbons</h6>
        <div class="members-section__medail silver">
          Stříbro MS do 23 let, 2022
        </div>
        <p>Lead engineering teams at Figma, Pitch, and Protocol Labs.</p>
      </a>
      <a href="#" class="members-section__item">
        <div class="members-section__img">
          <img src="images/content/members/3.png" loading="lazy" alt="member" />
        </div>
        <h6>Sienna Hewitt</h6>
        <div class="members-section__medail bronze">
          Bronz z ME 2019, Portugalsko
        </div>
        <p>Former PM for Linear, Lambda School, and On Deck.</p>
      </a>
      <a href="#" class="members-section__item">
        <div class="members-section__img">
          <img src="images/content/members/4.png" loading="lazy" alt="member" />
        </div>
        <h6>Lily-Rose Chedjou</h6>
        <div class="members-section__medail gold">Zlato</div>
        <p>
          Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
        </p>
      </a>
      <a href="#" class="members-section__item">
        <div class="members-section__img">
          <img src="images/content/members/1.png" loading="lazy" alt="member" />
        </div>
        <h6>Amélie Laurent</h6>
        <div class="members-section__medail gold">Zlato z MS juniorů 2023</div>
        <p>
          Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
        </p>
      </a>
      <a href="#" class="members-section__item">
        <div class="members-section__img">
          <img src="images/content/members/2.png" loading="lazy" alt="member" />
        </div>
        <h6>Nikolas Gibbons</h6>
        <div class="members-section__medail silver">
          Stříbro MS do 23 let, 2022
        </div>
        <p>Lead engineering teams at Figma, Pitch, and Protocol Labs.</p>
      </a>
      <a href="#" class="members-section__item">
        <div class="members-section__img">
          <img src="images/content/members/3.png" loading="lazy" alt="member" />
        </div>
        <h6>Sienna Hewitt</h6>
        <div class="members-section__medail bronze">
          Bronz z ME 2019, Portugalsko
        </div>
        <p>Former PM for Linear, Lambda School, and On Deck.</p>
      </a>
      <a href="#" class="members-section__item">
        <div class="members-section__img">
          <img src="images/content/members/4.png" loading="lazy" alt="member" />
        </div>
        <h6>Lily-Rose Chedjou</h6>
        <div class="members-section__medail gold">Zlato</div>
        <p>
          Former co-founder of Opendoor. Early staff at Spotify and Clearbit.
        </p>
      </a>
    </div>
  </div>
</section>
