<section class="hp-news">
  <div class="container">
    <h3 class="h2 mb-8">Rychlé aktuality</h3>
    <div class="hp-news__inner row g-8">
      <div class="col-lg-4">
        <div class="newsItem">
          <div class="newsItem__date">Před 2 hodinami</div>
          <div class="newsItem__title">Remíza s Polskem</div>
          <p>
            Česká futsalová reprezentace neslyšících remizovala s Polskem.
            Děkujeme našemu bývalému trenéru Petru Valáškovi za všechno a ať se
            mu daří v osobním životě.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="newsItem">
          <div class="newsItem__date">Včera</div>
          <div class="newsItem__title">Remíza s Polskem</div>
          <p>
            Akce se zúčastnilo cca 40 diváků. Počasí bylo ideální na odehrání
            mistrovství venku, bylo polojasno. Poděkování patří pořadatelům,
            rozhodčímu, správcům hřiště SK MOTORLET a dalším, kteří se postarali
            o akci na mistrovství ČR juniorů.
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="newsItem">
          <div class="newsItem__date">15.5.2023</div>
          <div class="newsItem__title">Čerstvé informace</div>
          <p>
            V sobotu 04.06.2022 se konala v Olomouci valná hromada ČSNS. Název
            ČSNS se mění na ČDV – Český deaflympijský výbor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
