<section class="article-section">
  <div class="container">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#"> {% include "@images/home.svg" %} </a>
        </li>
        <li class="breadcrumb-item"><a href="#">Články</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Největší borci na škole posilovali denně. Chtěla jsem patřit mezi ně
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-xl-8 col-md-10 text-center mx-auto">
        <div class="subtitle mb-3 text-center">12. 3. 2024</div>
        <h1 class="mb-6 h1">
          Největší borci na škole posilovali denně. Chtěla jsem patřit mezi ně
        </h1>
        <div class="perex mb-8">
          How do you create compelling presentations that wow your colleagues
          and impress your managers? Find out with our in-depth guide on UX
          presentations.
        </div>
        <ul class="tags mb-8">
          <li>
            <a class="tag" href="#">Rozhovor</a>
          </li>
          <li>
            <a class="tag" href="#">Stolní tenis</a>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <div class="article-section__img">
          <img src="images/content/topstory.png" loading="lazy" alt="story" />
        </div>
      </div>
      <div class="col-xl-8 col-md-10 mx-auto">
        <div class="o-content">
          <h3>Introduction</h3>
          <p>
            Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam
            suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum
            quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris
            posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At
            feugiat sapien varius id.
          </p>
          <p>
            Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat
            mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu
            quis fusce augue enim. Quis at habitant diam at. Suscipit tristique
            risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie
            aliquet sodales id est ac volutpat.
          </p>
          <div class="article-section__photo">
            <img src="images/content/photo-2.png" loading="lazy" alt="story" />
            <div class="article-section__author">
              Image courtesy of Fauxels via
              <a href="#" target="_blank">Pexels</a>
            </div>
          </div>
          <p>
            Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris
            id. Non pellentesque congue eget consectetur turpis. Sapien, dictum
            molestie sem tempor. Diam elit, orci, tincidunt aenean tempus. Quis
            velit eget ut tortor tellus. Sed vel, congue felis elit erat nam
            nibh orci.
          </p>
          <q>
            <p>
              “In a world older and more complete than ours they move finished
              and complete, gifted with extensions of the senses we have lost or
              never attained, living by voices we shall never hear.”
            </p>
            <span>— Olivia Rhye, Product Designer</span>
          </q>
          <h4>Software and tools</h4>
          <p>
            Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam
            suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum
            quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris
            posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At
            feugiat sapien varius id.
          </p>
          <p>
            Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat
            mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu
            quis fusce augue enim. Quis at habitant diam at. Suscipit tristique
            risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie
            aliquet sodales id est ac volutpat.
          </p>
          <h4>Other resources</h4>
          <p>
            Sagittis et eu at elementum, quis in. Proin praesent volutpat
            egestas sociis sit lorem nunc nunc sit. Eget diam curabitur mi ac.
            Auctor rutrum lacus malesuada massa ornare et. Vulputate consectetur
            ac ultrices at diam dui eget fringilla tincidunt. Arcu sit dignissim
            massa erat cursus vulputate gravida id. Sed quis auctor vulputate
            hac elementum gravida cursus dis.
          </p>
          <ul>
            <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
            <li>
              Eu turpis posuere semper feugiat volutpat elit, ultrices
              suspendisse. Auctor vel in vitae placerat.
            </li>
            <li>
              Suspendisse maecenas ac donec scelerisque diam sed est duis purus.
            </li>
          </ul>
          <div class="article-section__photo">
            <img src="images/content/photo-3.png" loading="lazy" alt="story" />
            <div class="article-section__author">
              Image courtesy of Michael Burrows via
              <a href="#" target="_blank">Pexels</a>
            </div>
          </div>
          <p>
            Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam
            suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum
            quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris
            posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At
            feugiat sapien varius id.
          </p>
          <ol>
            <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
            <li>
              Eu turpis posuere semper feugiat volutpat elit, ultrices
              suspendisse. Auctor vel in vitae placerat.
            </li>
            <li>
              Suspendisse maecenas ac donec scelerisque diam sed est duis purus.
            </li>
          </ol>
          <p>
            Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat
            mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu
            quis fusce augue enim. Quis at habitant diam at. Suscipit tristique
            risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie
            aliquet sodales id est ac volutpat.
          </p>
          <div class="conclusion">
            <h3>Conclusion</h3>
            <p>
              Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus
              id scelerisque est ultricies ultricies. Duis est sit sed leo nisl,
              blandit elit sagittis. Quisque tristique consequat quam sed. Nisl
              at scelerisque amet nulla purus habitasse.
            </p>
            <p>
              Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas
              condimentum mi massa. In tincidunt pharetra consectetur sed duis
              facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit
              dictum eget nibh tortor commodo cursus.
            </p>
            <p>
              Odio felis sagittis, morbi feugiat tortor vitae feugiat fusce
              aliquet. Nam elementum urna nisi aliquet erat dolor enim. Ornare
              id morbi eget ipsum. Aliquam senectus neque ut id eget consectetur
              dictum. Donec posuere pharetra odio consequat scelerisque et, nunc
              tortor.
            </p>
          </div>
        </div>
        <div class="articleAuthor">
          <div class="articleAuthor__item">
            <div class="articleAuthor__item-img">
              <img src="images/content/ava.png" alt="avatar" loading="lazy" />
            </div>
            <div class="articleAuthor__item-info">
              <h5 class="h5">Alice Bednářová</h5>
              <span>Produkční</span>
            </div>
          </div>
          <ul class="articleAuthor__links">
            <li>
              <div id="copyLink" data-link="https://esportsmedia.cz/">
                {% include "@images/copyLink.svg" %} Click me to copy link
              </div>
            </li>
            <li>
              <div class="social-share twitter">
                {% include "@images/x.svg" %}
              </div>
            </li>
            <li>
              <div class="social-share facebook">
                {% include "@images/fb-2.svg" %}
              </div>
            </li>
            <li>
              <div class="social-share linkedin">
                {% include "@images/in.svg" %}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var copyLinkButton = document.getElementById("copyLink");

    if (copyLinkButton) {
      copyLinkButton.addEventListener("click", function () {
        var linkToCopy = this.getAttribute("data-link");
        var textarea = document.createElement("textarea");
        textarea.value = linkToCopy;
        document.body.appendChild(textarea);
        textarea.select();
        textarea.setSelectionRange(0, 99999);
        document.execCommand("copy");
        document.body.removeChild(textarea);
      });
    } else {
      console.error("Element with id 'copyLink' not found.");
    }
  });
</script>