<div id="countdown-wrapper-1" class="timer" data-datetime="2024-11-30T10:00:00">
  <a class="timer__logo" href="#">
    <img src="images/ico/akce-1.svg" alt="" />
  </a>
  <span class="timer__item" id="timer-days-1">
    <span class="timer__value" id="countdown-days-1"></span>
    <span class="timer__label timer__label-days" id="countdown-days-label-1"
      >Dny</span
    >
  </span>
  <span class="timer__item" id="timer-hours-1">
    <span class="timer__value" id="countdown-hours-1"></span>
    <span class="timer__label" id="countdown-hours-label-1">Hod</span>
  </span>
  <span class="timer__item" id="timer-minutes-1">
    <span class="timer__value" id="countdown-minutes-1"></span>
    <span class="timer__label" id="countdown-minutes-label-1">Min</span>
  </span>
</div>

<div id="countdown-wrapper-2" class="timer" data-datetime="2024-04-30T10:00:00">
  <a class="timer__logo" href="#">
    <img src="images/ico/akce-2.svg" alt="" />
  </a>
  <span class="timer__item" id="timer-days-2">
    <span class="timer__value" id="countdown-days-2"></span>
    <span class="timer__label timer__label-days" id="countdown-days-label-2"
      >Dny</span
    >
  </span>
  <span class="timer__item" id="timer-hours-2">
    <span class="timer__value" id="countdown-hours-2"></span>
    <span class="timer__label" id="countdown-hours-label-2"> Hod</span>
  </span>
  <span class="timer__item" id="timer-minutes-2">
    <span class="timer__value" id="countdown-minutes-2"></span>
    <span class="timer__label" id="countdown-minutes-label-2">Min</span>
  </span>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let countItems = document.querySelectorAll(".timer");

    if (countItems) {
      countItems.forEach(function (countItem, index) {
        initializeTimer(countItem, index + 1);
      });
    }

    function initializeTimer(countItem, timerIndex) {
      let daysElement = document.getElementById(`countdown-days-${timerIndex}`);
      let hoursElement = document.getElementById(
        `countdown-hours-${timerIndex}`
      );
      let minutesElement = document.getElementById(
        `countdown-minutes-${timerIndex}`
      );

      let daysLabelElement = document.getElementById(
        `countdown-days-label-${timerIndex}`
      );
      let hoursLabelElement = document.getElementById(
        `countdown-hours-label-${timerIndex}`
      );
      let minutesLabelElement = document.getElementById(
        `countdown-minutes-label-${timerIndex}`
      );

      let deadline = new Date(countItem.dataset.datetime).getTime();
      let timerInterval;

      function updateTimer() {
        let currentTime = new Date().getTime();
        let timeDifference = deadline - currentTime;

        if (timeDifference <= 0) {
          countItem.innerHTML = `<b class="py-3 text-uppercase" style="grid-column: span 4">Událost již začala</b>`;
          clearInterval(timerInterval);
        } else {
          let days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
          let hours = Math.floor(
            (timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
          );
          let minutes = Math.floor(
            (timeDifference % (1000 * 60 * 60)) / (1000 * 60)
          );
          daysElement.innerHTML = days;
          hoursElement.innerHTML = hours;
          minutesElement.innerHTML = minutes;
        }
      }

      timerInterval = setInterval(updateTimer, 1000);

      function getLabel(unit, value) {
        switch (unit) {
          case "day":
            return getDayLabel(value);
          case "hour":
            return getHourLabel(value);
          case "minute":
            return getMinuteLabel(value);
        }
      }
    }
  });
</script>
