.tags {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}
.tag {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  background-color: var(--color-grayBlue);
  color: var(--color-light);
  border-radius: 8px;
  width: fit-content;
  padding: 8px 16px 9px;
  text-decoration: none;
  transition: all 0.3s;
  display: block;
  &:hover {
    transform: scale(1.1);
  }
}
