<section class="contacts-section">
  <div class="container">
    <div class="headerSection">
      <h1 class="h1">Kontakty</h1>
    </div>
    <div class="contacts-section__inner row g-8 mb-8">
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="contacts-section__item">
          <div class="contacts-section__img">
            <img src="images/content/members/1.png" alt="" />
          </div>
          <div class="contacts-section__title">Mgr. Martin Steinbach</div>
          <div class="contacts-section__position">Digitální média</div>
          <ul>
            <li>
              <a href="mailto:steinbach@paralympic.cz"
                >steinbach@paralympic.cz</a
              >
            </li>
            <li>+420 734 646 127</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="contacts-section__item">
          <div class="contacts-section__img">
            <img src="images/content/members/2.png" alt="" />
          </div>
          <div class="contacts-section__title">Mgr. Martin Steinbach</div>
          <div class="contacts-section__position">Digitální média</div>
          <ul>
            <li>
              <a href="mailto:steinbach@paralympic.cz"
                >steinbach@paralympic.cz</a
              >
            </li>
            <li>+420 734 646 127</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="contacts-section__item">
          <div class="contacts-section__title">Mgr. Martin Steinbach</div>
          <div class="contacts-section__position">Digitální média</div>
          <ul>
            <li>
              <a href="mailto:steinbach@paralympic.cz"
                >steinbach@paralympic.cz</a
              >
            </li>
            <li>+420 734 646 127</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="contacts-section__item">
          <div class="contacts-section__title">Mgr. Martin Steinbach</div>
          <div class="contacts-section__position">Projektový manažer</div>
          <ul>
            <li>
              <a href="mailto:steinbach@paralympic.cz"
                >steinbach@paralympic.cz</a
              >
            </li>
            <li>+420 734 646 127</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="contacts-section__item">
          <div class="contacts-section__title">Mgr. Martin Steinbach</div>
          <div class="contacts-section__position">Digitální média</div>
          <ul>
            <li>
              <a href="mailto:steinbach@paralympic.cz"
                >steinbach@paralympic.cz</a
              >
            </li>
            <li>+420 734 646 127</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="contacts-section__item">
          <div class="contacts-section__img">
            <img src="images/content/members/3.png" alt="" />
          </div>
          <div class="contacts-section__title">Mgr. Martin Steinbach</div>
          <div class="contacts-section__position">Digitální média</div>
          <ul>
            <li>
              <a href="mailto:steinbach@paralympic.cz"
                >steinbach@paralympic.cz</a
              >
            </li>
            <li>+420 734 646 127</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="contacts-section__item">
          <div class="contacts-section__img">
            <img src="images/content/members/4.png" alt="" />
          </div>
          <div class="contacts-section__title">Mgr. Martin Steinbach</div>
          <div class="contacts-section__position">Digitální média</div>

          <ul>
            <li>
              <a href="mailto:steinbach@paralympic.cz"
                >steinbach@paralympic.cz</a
              >
            </li>
            <li>+420 734 646 127</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
