<section class="partners-section">
  <div class="container">
    <h6 class="h2 text-center mb-10">Partneři</h6>
    <ul class="partners-section__list">
      <li>
         <a href="#" target="_blank" class="partners-section__item">
            <img src="images/content/partner-1.png" loading="lazy" alt="partner" />
         </a>
      </li>
      <li>
         <a href="#" target="_blank" class="partners-section__item">
            <img src="images/content/partner-2.png" loading="lazy" alt="partner" />
         </a>
      </li>
      <li>
         <a href="#" target="_blank" class="partners-section__item">
            <img src="images/content/partner-3.png" loading="lazy" alt="partner" />
         </a>
      </li>
      <li>
         <a href="#" target="_blank" class="partners-section__item">
            <img src="images/content/partner-4.png" loading="lazy" alt="partner" />
         </a>
      </li>
      <li>
         <a href="#" target="_blank" class="partners-section__item">
            <img src="images/content/partner-5.png" loading="lazy" alt="partner" />
         </a>
      </li>
      <li>
         <a href="#" target="_blank" class="partners-section__item">
            <img src="images/content/partner-6.png" loading="lazy" alt="partner" />
         </a>
      </li>
    </ul>
  </div>
</section>
