<section class="archive-section">
  <div class="container">
    <div class="headerSection">
      <h1 class="h1">Archiv aktualit</h1>
      <form class="search">
        <button>
          <img src="images/ico/search.svg" alt="" />
        </button>
        <input type="text" placeholder="Hledat" />
      </form>
    </div>

    <div class="hp-news__inner row g-8 mb-8">
      <div class="col-lg-4 col-md-6">
        <div class="newsItem">
          <div class="newsItem__date">Před 2 hodinami</div>
          <div class="newsItem__title">Remíza s Polskem</div>
          <p>
            Česká futsalová reprezentace neslyšících remizovala s Polskem.
            Děkujeme našemu bývalému trenéru Petru Valáškovi za všechno a ať se
            mu daří v osobním životě.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="newsItem">
          <div class="newsItem__date">Včera</div>
          <div class="newsItem__title">Remíza s Polskem</div>
          <p>
            Akce se zúčastnilo cca 40 diváků. Počasí bylo ideální na odehrání
            mistrovství venku, bylo polojasno. Poděkování patří pořadatelům,
            rozhodčímu, správcům hřiště SK MOTORLET a dalším, kteří se postarali
            o akci na mistrovství ČR juniorů.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="newsItem">
          <div class="newsItem__date">15.5.2023</div>
          <div class="newsItem__title">Čerstvé informace</div>
          <p>
            V sobotu 04.06.2022 se konala v Olomouci valná hromada ČSNS. Název
            ČSNS se mění na ČDV – Český deaflympijský výbor.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="newsItem">
          <div class="newsItem__date">Včera</div>
          <div class="newsItem__title">Remíza s Polskem</div>
          <p>
            Akce se zúčastnilo cca 40 diváků. Počasí bylo ideální na odehrání
            mistrovství venku, bylo polojasno. Poděkování patří pořadatelům,
            rozhodčímu, správcům hřiště SK MOTORLET a dalším, kteří se postarali
            o akci na mistrovství ČR juniorů.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="newsItem">
          <div class="newsItem__date">Včera</div>
          <div class="newsItem__title">Remíza s Polskem</div>
          <p>
            Akce se zúčastnilo cca 40 diváků. Počasí bylo ideální na odehrání
            mistrovství venku, bylo polojasno. Poděkování patří pořadatelům,
            rozhodčímu, správcům hřiště SK MOTORLET a dalším, kteří se postarali
            o akci na mistrovství ČR juniorů.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="newsItem">
          <div class="newsItem__date">15.5.2023</div>
          <div class="newsItem__title">Čerstvé informace</div>
          <p>
            V sobotu 04.06.2022 se konala v Olomouci valná hromada ČSNS. Název
            ČSNS se mění na ČDV – Český deaflympijský výbor.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="newsItem">
          <div class="newsItem__date">15.5.2023</div>
          <div class="newsItem__title">Čerstvé informace</div>
          <p>
            V sobotu 04.06.2022 se konala v Olomouci valná hromada ČSNS. Název
            ČSNS se mění na ČDV – Český deaflympijský výbor.
          </p>
        </div>
      </div>
    </div>
    <nav aria-label="Další stránky">
      <ul
        class="pagination d-flex flex-wrap pagination-flat pagination-success"
      >
        <li class="page-item page-item__prev">
          <a data-abc="true" href="#" class="page-link">
            {% include "@images/arrow-1.svg" %} Předchozí
          </a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#" data-abc="true">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">...</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">8</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">9</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" data-abc="true">10</a>
        </li>
        <li class="page-item page-item__next">
          <a class="page-link" href="#" data-abc="true">
            Další {% include "@images/arrow-2.svg" %}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
