<section class="club-section">
  <div class="container">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#"> {% include "@images/home.svg" %} </a>
        </li>
        <li class="breadcrumb-item"><a href="#">Kluby / komise</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Název klubu / komise
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-xl-8 col-md-10 text-center mx-auto">
        <h1 class="mb-6 h1">Název klubu / komise</h1>
        <ul class="club-section__menu">
          <!-- <li>
            <a href="#calendar">Kalendář akcí</a>
          </li> -->
          <li>
            <a href="#players">Seznam sportovců </a>
          </li>
          <li>
            <a href="#about"> O klubu</a>
          </li>
        </ul>
      </div>
      <!-- <div class="col-12">
        <div class="article-section__img">
          <img src="images/content/topstory.png" loading="lazy" alt="story" />
        </div>
      </div> -->
      <div class="col-xl-8 col-md-10 mx-auto">
        <div class="club-section__inner">
          <div class="club-section__logo">
            <img src="images/ico/logo.svg" alt="" />
          </div>
          <ul class="club-section__list">
            <li>
              <a
                href="https://mizza-cz.github.io/deaflympic/build/01.0_homepage.html#"
                >https://mizza-cz.github.io/deaflympi</a
              >
            </li>
            <li>Vodova 1391/35 612 00 Brno 12 Czech Republic</li>
          </ul>
        </div>
        <div class="o-content">
          <!-- <h3 id="calendar">Kalendář akcí</h3>
          <table>
            <thead>
              <tr>
                <th>Název akce</th>
                <th>Datum</th>
                <th>Místo</th>
                <th>Detail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class=" ">
                  <strong> Název her</strong>
                  ročník
                </td>
                <td><span class="tag">25.4.2023</span></td>
                <td>Název ulice 48, Město 783 91</td>

                <td>
                  <a href="#">
                    <img src="images/ico/arrow-2.svg" alt="" />
                  </a>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <strong> Název her</strong>
                  ročník
                </td>
                <td><span class="tag">25.4.2023</span></td>
                <td>Název ulice 48, Město 783 91</td>

                <td>
                  <a href="#">
                    <img src="images/ico/arrow-2.svg" alt="" />
                  </a>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <strong> Název her</strong>
                  ročník
                </td>
                <td><span class="tag">25.4.2023</span></td>
                <td>Název ulice 48, Město 783 91</td>

                <td>
                  <a href="#">
                    <img src="images/ico/arrow-2.svg" alt="" />
                  </a>
                </td>
              </tr>
              <tr>
                <td class=" ">
                  <strong> Název her</strong>
                  ročník
                </td>
                <td><span class="tag">25.4.2023</span></td>
                <td>Název ulice 48, Město 783 91</td>

                <td>
                  <a href="#">
                    <img src="images/ico/arrow-2.svg" alt="" />
                  </a>
                </td>
              </tr>
            </tbody>
          </table> -->

          <div id="players">
            <h3>Seznam sportovců</h3>
            <table>
              <thead>
                <tr>
                  <th>Jméno a příjmení</th>
                  <th>Klub</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="name">
                    <img
                      src="images/content/ava.png"
                      alt="avatar"
                      loading="lazy"
                    />
                    <strong>Lucie Vadičková</strong>
                  </td>
                  <td>SK Slavia Praha</td>
                  <td>
                    <a href="#">
                      <img src="images/ico/arrow-2.svg" alt="" />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="name">
                    <img
                      src="images/content/ava.png"
                      alt="avatar"
                      loading="lazy"
                    />
                    <strong>Lucie Vadičková</strong>
                  </td>
                  <td>SK Slavia Praha</td>
                  <td>
                    <a href="#">
                      <img src="images/ico/arrow-2.svg" alt="" />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="name">
                    <img
                      src="images/content/ava.png"
                      alt="avatar"
                      loading="lazy"
                    />
                    <strong>Lucie Vadičková</strong>
                  </td>
                  <td>SK Slavia Praha</td>
                  <td>
                    <a href="#">
                      <img src="images/ico/arrow-2.svg" alt="" />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="name">
                    <img
                      src="images/content/ava.png"
                      alt="avatar"
                      loading="lazy"
                    />
                    <strong>Lucie Vadičková</strong>
                  </td>
                  <td>SK Slavia Praha</td>
                  <td>
                    <a href="#">
                      <img src="images/ico/arrow-2.svg" alt="" />
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h3 id="about">Textový popis</h3>
          <p>
            Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam
            suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum
            quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris
            posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At
            feugiat sapien varius id.
          </p>
          <p>
            Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat
            mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu
            quis fusce augue enim. Quis at habitant diam at. Suscipit tristique
            risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie
            aliquet sodales id est ac volutpat.
            <br />
            Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris
            id. Non pellentesque congue eget consectetur turpis. Sapien, dictum
            molestie sem tempor. Diam elit, orci, tincidunt aenean tempus. Quis
            velit eget ut tortor tellus. Sed vel, congue felis elit erat nam
            nibh orci.
          </p>
          <q>
            <p>
              “In a world older and more complete than ours they move finished
              and complete, gifted with extensions of the senses we have lost or
              never attained, living by voices we shall never hear.”
            </p>
            <span>— Olivia Rhye, Product Designer</span>
          </q>
        </div>
        <div class="articleAuthor">
          <ul class="articleAuthor__links mx-auto">
            <li>
              <div id="copyLink" data-link="https://esportsmedia.cz/">
                {% include "@images/copyLink.svg" %} Click me to copy link
              </div>
            </li>
            <li>
              <a href="#" target="_blank"> {% include "@images/x.svg" %}</a>
            </li>
            <li>
              <a href="#" target="_blank"> {% include "@images/fb-2.svg" %}</a>
            </li>
            <li>
              <a href="#" target="_blank"> {% include "@images/in.svg" %}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row g-8 mb-8">
        <div class="col-lg-4 col-md-6">
          {% include "@components/post/post.twig" %}
        </div>
        <div class="col-lg-4 col-md-6">
          {% include "@components/post/post.twig" %}
        </div>
        <div class="col-lg-4 col-md-6">
          {% include "@components/post/post.twig" %}
        </div>
      </div>
    </div>
  </div>
</section>
