<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a href="#" class="footer__logo">
        <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
      </a>
      <div class="copyright">
        © eSportsmedia 2023, Český svaz neslyšících sportovců
      </div>
    </div>
  </div>
</footer>
