<section class="sports-section">
  <div class="container">
    <h3 class="h2 mb-10 text-center">Sporty</h3>
    <ul class="sports-section__list">
      <li>
        <a href="#" class="sports-section__item">
          <div class="sports-section__img">
            <img src="images/ico/atletic.svg" loading="lazy" alt="sport" />
          </div>
          <div class="sports-section__title">Atletika</div>
        </a>
      </li>
      <li>
        <a href="#" class="sports-section__item">
          <div class="sports-section__img">
            <img src="images/ico/badminton.svg" loading="lazy" alt="sport" />
          </div>
          <div class="sports-section__title">Badminton</div>
        </a>
      </li>
      <li>
        <a href="#" class="sports-section__item">
          <div class="sports-section__img">
            <img src="images/ico/volejbal.svg" loading="lazy" alt="sport" />
          </div>
          <div class="sports-section__title">Beach volejbal</div>
        </a>
      </li>
      <li>
        <a href="#" class="sports-section__item">
          <div class="sports-section__img">
            <img src="images/ico/bowling.svg" loading="lazy" alt="sport" />
          </div>
          <div class="sports-section__title">Bowling</div>
        </a>
      </li>
      <li>
        <a href="#" class="sports-section__item">
          <div class="sports-section__img">
            <img src="images/ico/curling.svg" loading="lazy" alt="sport" />
          </div>
          <div class="sports-section__title">Curling</div>
        </a>
      </li>
      <li>
        <a href="#" class="sports-section__item">
          <div class="sports-section__img">
            <img src="images/ico/bicking.svg" loading="lazy" alt="sport" />
          </div>
          <div class="sports-section__title">Cyklistika</div>
        </a>
      </li>

      <li>
        <a href="#" class="sports-section__item">
          <div class="sports-section__img">
            <img src="images/ico/soccer.svg" loading="lazy" alt="sport" />
          </div>
          <div class="sports-section__title">Fotbal</div>
        </a>
      </li>
      <li>
        <a href="#" class="sports-section__item">
          <div class="sports-section__img">
            <img src="images/ico/futsal.svg" loading="lazy" alt="sport" />
          </div>
          <div class="sports-section__title">Futsal</div>
        </a>
      </li>
      <li>
        <a href="#" class="sports-section__item">
          <div class="sports-section__img">
            <img src="images/ico/hokej.svg" loading="lazy" alt="sport" />
          </div>
          <div class="sports-section__title">Hokej</div>
        </a>
      </li>
      <li>
        <a href="#" class="sports-section__item">
          <div class="sports-section__img">
            <img src="images/ico/bowling-2.svg" loading="lazy" alt="sport" />
          </div>
          <div class="sports-section__title">Kuželky</div>
        </a>
      </li>
      <li>
        <a href="#" class="sports-section__item">
          <div class="sports-section__img">
            <img src="images/ico/skils.svg" loading="lazy" alt="sport" />
          </div>
          <div class="sports-section__title">Lyžování</div>
        </a>
      </li>


      <li>
         <a href="#" class="sports-section__item">
           <div class="sports-section__img">
             <img src="images/ico/beg.svg" loading="lazy" alt="sport" />
           </div>
           <div class="sports-section__title">Orientační běh</div>
         </a>
       </li>

       <li>
         <a href="#" class="sports-section__item">
           <div class="sports-section__img">
             <img src="images/ico/swim.svg" loading="lazy" alt="sport" />
           </div>
           <div class="sports-section__title">Plavání</div>
         </a>
       </li>

       <li>
         <a href="#" class="sports-section__item">
           <div class="sports-section__img">
             <img src="images/ico/snowboard.svg" loading="lazy" alt="sport" />
           </div>
           <div class="sports-section__title">Snowboard</div>
         </a>
       </li>

       <li>
         <a href="#" class="sports-section__item">
           <div class="sports-section__img">
             <img src="images/ico/pinpong.svg" loading="lazy" alt="sport" />
           </div>
           <div class="sports-section__title">Stolní tenis</div>
         </a>
       </li>

       <li>
         <a href="#" class="sports-section__item">
           <div class="sports-section__img">
             <img src="images/ico/shot.svg" loading="lazy" alt="sport" />
           </div>
           <div class="sports-section__title">Střelectví</div>
         </a>
       </li>

       <li>
         <a href="#" class="sports-section__item">
           <div class="sports-section__img">
             <img src="images/ico/tenis.svg" loading="lazy" alt="sport" />
           </div>
           <div class="sports-section__title">Tenis</div>
         </a>
       </li>

       <li>
         <a href="#" class="sports-section__item">
           <div class="sports-section__img">
             <img src="images/ico/volejbal-2.svg" loading="lazy" alt="sport" />
           </div>
           <div class="sports-section__title">Volejbal</div>
         </a>
       </li>

       <li>
         <a href="#" class="sports-section__item">
           <div class="sports-section__img">
             <img src="images/ico/sachy.svg" loading="lazy" alt="sport" />
           </div>
           <div class="sports-section__title">Šachy</div>
         </a>
       </li>
    </ul>
  </div>
</section>
