<a href="#" class="post">
  <div class="post__img">
    <img src="images/content/topstory.png" loading="lazy" alt="" />

    <div class="tag">Stolní tenis</div>
  </div>
  <div class="post__info">
    <span>Před 2 hodinami</span>
    <h3 class="h4">Remíza s Polskem</h3>
    <p>
      Akce se zúčastnilo cca 40 diváků. Počasí bylo ideální na odehrání
      mistrovství venku, bylo polojasno. Poděkování patří pořadatelům,
      rozhodčímu, správcům hřiště SK MOTORLET a dalším, kteří se postarali o
      akci na mistrovství ČR juniorů.
    </p>
  </div>
</a>
