<section class="topstory">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-6">
        <a href="#" class="topstory__item topstory__main">
          <div class="topstory__img">
            <img
              src="images/content/topstory.png"
              loading="lazy"
              alt="topstory"
            />
          </div>
          <div class="topstory__info">
            <ul class="tags">
              <li>
                <div class="tag">Rozhovor</div>
              </li>
              <li>
                <div class="tag">Stolní tenis</div>
              </li>
            </ul>
            <h1 class="h2 text-white">
              Největší borci na škole posilovali denně. Chtěla jsem patřit mezi
              ně
            </h1>
            <div class="subtitle text-white text-center">12. 3. 2024</div>
          </div>
        </a>
      </div>
      <div class="col-xl-6">
        <div class="row g-4">
          <div class="col-sm-6">
            <a href="#" class="topstory__item">
              <div class="topstory__img">
                <img
                  src="images/content/topstory.png"
                  loading="lazy"
                  alt="topstory"
                />
              </div>
              <div class="topstory__info">
                <ul class="tags">
                  <li>
                    <div class="tag">Rozhovor</div>
                  </li>
                  <li>
                    <div class="tag">Stolní tenis</div>
                  </li>
                </ul>
                <h2 class="h4 text-white">
                  Největší borci na škole posilovali denně. Chtěla jsem patřit
                  mezi ně
                </h2>
                <div class="subtitle text-white text-center">12. 3. 2024</div>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="#" class="topstory__item">
              <div class="topstory__img">
                <img
                  src="images/content/topstory.png"
                  loading="lazy"
                  alt="topstory"
                />
              </div>
              <div class="topstory__info">
                <ul class="tags">
                  <li>
                    <div class="tag">Rozhovor</div>
                  </li>
                  <li>
                    <div class="tag">Stolní tenis</div>
                  </li>
                </ul>
                <h2 class="h4 text-white">Největší borci na škole</h2>
                <div class="subtitle text-white text-center">12. 3. 2024</div>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="#" class="topstory__item">
              <div class="topstory__img">
                <img
                  src="images/content/topstory.png"
                  loading="lazy"
                  alt="topstory"
                />
              </div>
              <div class="topstory__info">
                <ul class="tags">
                  <li>
                    <div class="tag">Rozhovor</div>
                  </li>
                  <li>
                    <div class="tag">Stolní tenis</div>
                  </li>
                </ul>
                <h2 class="h4 text-white">
                  Největší borci na škole posilovali denně. Chtěla jsem patřit
                  mezi ně
                </h2>
                <div class="subtitle text-white text-center">12. 3. 2024</div>
              </div>
            </a>
          </div>
          <div class="col-sm-6">
            <a href="#" class="topstory__item">
              <div class="topstory__img">
                <img
                  src="images/content/topstory.png"
                  loading="lazy"
                  alt="topstory"
                />
              </div>
              <div class="topstory__info">
                <ul class="tags">
                  <li>
                    <div class="tag">Rozhovor</div>
                  </li>
                  <li>
                    <div class="tag">Stolní tenis</div>
                  </li>
                </ul>
                <h2 class="h4 text-white">
                  Největší borci na škole posilovali denně.
                </h2>
                <div class="subtitle text-white text-center">12. 3. 2024</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="topstory__inner"></div>
  </div>
</section>
