<section class="topstory">
  <div class="container">
    <div class="topstory__inner">
      <a href="#" class="topstory__item">
        <img src="images/content/topstory.png" loading="lazy" alt="topstory" />
        <div class="topstory__info">
          <ul class="tags mb-5">
            <li>
              <div class="tag">Rozhovor</div>
            </li>
            <li>
              <div class="tag">Stolní tenis</div>
            </li>
          </ul>
          <h1 class="h1 text-white">
            Největší borci na škole posilovali denně. Chtěla jsem patřit mezi ně
          </h1>
          <div class="subtitle text-white mt-4 text-center">12. 3. 2024</div>
        </div>
      </a>
    </div>
  </div>
</section>
