:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-900: #101828;
  --color-gray-950: #0c111d;

  --color-red-600: #d92d20;

  --color-grayBlue: #4e5ba6;
}
