{% extends "@components/base/base.twig" %} {% set title = "06.0_partners" %} {%
block main %}

<section class="partners-section">
  <div class="container">
    <div class="partners-section__box">
      <h1 class="h2 text-center mb-10">Generální partneři</h1>
      <ul class="partners-section__list">
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-1.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-2.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-3.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
      </ul>
    </div>
    <div class="partners-section__box">
      <h2 class="h2 text-center mb-10">Mediální partneři</h2>
      <ul class="partners-section__list">
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-4.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-5.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-6.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
      </ul>
    </div>
    <div class="partners-section__box">
      <h3 class="h2 text-center mb-10">Partneři</h3>
      <ul class="partners-section__list">
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-1.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-2.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-3.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-4.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-5.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="partners-section__item">
            <img
              src="images/content/partner-6.png"
              loading="lazy"
              alt="partner"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}


