{% extends "@components/base/base.twig" %} {% set title = "10.0_static" %} {%
block main %}
<section class="static-section">
  <div class="container">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#"> {% include "@images/home.svg" %} </a>
        </li>
        <li class="breadcrumb-item"><a href="#"> Vše o výboru </a></li>
        <li class="breadcrumb-item active" aria-current="page">o projektu</li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-xl-8 col-md-10 text-center mx-auto">
        <div class="subtitle mb-3 text-center">12. 3. 2024</div>
        <h1 class="mb-6 h1">
          Největší borci na škole posilovali denně. Chtěla jsem patřit mezi ně
        </h1>
        <div class="perex mb-8">
          How do you create compelling presentations that wow your colleagues
          and impress your managers? Find out with our in-depth guide on UX
          presentations.
        </div>
      </div>
      <div class="col-12">
        <div class="article-section__img">
          <img src="images/content/topstory.png" loading="lazy" alt="story" />
        </div>
      </div>
      <div class="col-xl-8 col-md-10 mx-auto">
        <div class="o-content">
          <h2>title h2</h2>
          <h3>title h3</h3>
          <h4>titlte h4</h4>
          <h5>title h5</h5>
          <h6>title h6</h6>
          <p>
            Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam
            suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum
            quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris
            posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At
            feugiat sapien varius id.
          </p>
          <p>
            Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat
            mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu
            quis fusce augue enim. Quis at habitant diam at. Suscipit tristique
            risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie
            aliquet sodales id est ac volutpat.
          </p>
          <div class="article-section__photo">
            <img src="images/content/photo-2.png" loading="lazy" alt="story" />
            <div class="article-section__author">
              Image courtesy of Fauxels via
              <a href="#" target="_blank">Pexels</a>
            </div>
          </div>
          <p>
            Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris
            id. Non pellentesque congue eget consectetur turpis. Sapien, dictum
            molestie sem tempor. Diam elit, orci, tincidunt aenean tempus. Quis
            velit eget ut tortor tellus. Sed vel, congue felis elit erat nam
            nibh orci.
          </p>
          <q>
            <p>
              “In a world older and more complete than ours they move finished
              and complete, gifted with extensions of the senses we have lost or
              never attained, living by voices we shall never hear.”
            </p>
            <span>— Olivia Rhye, Product Designer</span>
          </q>
          <h4>Software and tools</h4>
          <p>
            Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam
            suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum
            quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris
            posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At
            feugiat sapien varius id.
          </p>
          <p>
            Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat
            mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu
            quis fusce augue enim. Quis at habitant diam at. Suscipit tristique
            risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie
            aliquet sodales id est ac volutpat.
          </p>
          <h4>Other resources</h4>
          <p>
            Sagittis et eu at elementum, quis in. Proin praesent volutpat
            egestas sociis sit lorem nunc nunc sit. Eget diam curabitur mi ac.
            Auctor rutrum lacus malesuada massa ornare et. Vulputate consectetur
            ac ultrices at diam dui eget fringilla tincidunt. Arcu sit dignissim
            massa erat cursus vulputate gravida id. Sed quis auctor vulputate
            hac elementum gravida cursus dis.
          </p>
          <ul>
            <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
            <li>
              Eu turpis posuere semper feugiat volutpat elit, ultrices
              suspendisse. Auctor vel in vitae placerat.
            </li>
            <li>
              Suspendisse maecenas ac donec scelerisque diam sed est duis purus.
            </li>
          </ul>
          <div class="article-section__photo">
            <img src="images/content/photo-3.png" loading="lazy" alt="story" />
            <div class="article-section__author">
              Image courtesy of Michael Burrows via
              <a href="#" target="_blank">Pexels</a>
            </div>
          </div>
          <p>
            Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam
            suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum
            quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris
            posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At
            feugiat sapien varius id.
          </p>
          <ol>
            <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
            <li>
              Eu turpis posuere semper feugiat volutpat elit, ultrices
              suspendisse. Auctor vel in vitae placerat.
            </li>
            <li>
              Suspendisse maecenas ac donec scelerisque diam sed est duis purus.
            </li>
          </ol>
          <p>
            Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat
            mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu
            quis fusce augue enim. Quis at habitant diam at. Suscipit tristique
            risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie
            aliquet sodales id est ac volutpat.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@components/partners-section/partners-section.twig" %} {% endblock
%}
