<section class="org-section">
  <div class="container">
    <div class="org-section__inner">
      <h4 class="h2 mb-10 text-center">Mezinárodní organizace</h4>
      <ul class="org-section__list">
        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/1.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/2.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/3.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/4.png" loading="lazy" alt="" />
          </a>
        </li>
      </ul>
    </div>
    <div class="org-section__inner">
      <h4 class="h2 mb-10 text-center">Kluby</h4>
      <ul class="org-section__list">
        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/5.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/6.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/7.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/8.png" loading="lazy" alt="" />
          </a>
        </li>

        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/9.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/10.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/11.png" loading="lazy" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="images/content/org/12.png" loading="lazy" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
